<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Pixel</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
    <script defer src="{% static 'js/controls.js' %}"></script>
</head>
<body>
    <div id="instruction-wrap">
        <div id="home-btn"><div id="exitBtn"><img src="{% static 'imgs/exit.svg' %}" alt="exit"></div><img id="navlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo"></div>
    <div id="container">
        <h1>Scan a QR Code</h1>
    <p style="width:100%; text-align:center">To scan your custom QR code, take out any <span style="color:#ef3e23">cell phone camera</span> and point it toward the code. The link should appear and all you need to do is tap it!</p>
    <h1>Profile</h1>
    <p style="width:100%; text-align:center">Creating a profile allows you to <span style="color:#ef3e23">save</span> your custom QR codes to your online profile page</p>
    <h1>Download QR Code</h1>
    <p style="width:100%; text-align:center">In order to download a QR code to your computer you must <span style="color:#ef3e23">right click</span> on the QR code and select "Save Image As", and find a good location to save it too</p>
<p style="text-align:center;">Check out my portfolio to see more of my work!<a href="https://www.gagelieble.com/">gagelieble.com ></a></p>

</div>
    </div>
    <div id="container">
    <img id="brandlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo">
    <form action="{% url 'genapp:result' %}" method="POST">
        {% csrf_token %}{{form}}
        <button type="submit">Create Code</button>
    </form>
    
    <div id="nav-links">
    
    {% if request.user.is_authenticated  %}
    <a href="{% url 'qruser:profile' %}">Profile ></a>
    {% endif %}
    
    <div id="instuctionsBtn">Instructions ></div>
    
    <a href="{% url 'qruser:signup' %}">Signup or Login ></a>

    
</div>
    </div>
</body>
</html>