<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Code</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
</head>
<body>
    <div id="home-btn"><a href="{% url 'genapp:index' %}">< Home</a><img id="navlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo"></div>
    <div id="container">
        <h1>Scan a QR Code</h1>
    <p style="width:100%; text-align:center">To scan your custom QR code, take out any <span style="color:#ef3e23">cell phone camera</span> and point it toward the code. The link should appear and all you need to do is tap it!</p>
    <h1>Profile</h1>
    <p style="width:100%; text-align:center">Creating a profile allows you to <span style="color:#ef3e23">save</span> your custom QR codes to your online profile page</p>
    <h1>Download QR Code</h1>
    <p style="width:100%; text-align:center">In order to download a QR code to your computer you must <span style="color:#ef3e23">right click</span> on the QR code and select "Save Image As", and find a good location to save it too</p>
<p style="text-align:center;">Check out my portfolio to see more of my work!<a href="https://www.gagelieble.com/">gagelieble.com ></a></p>

</div>
</body>
</html>