html, body {
    background-color: #f3f2ed;
    overflow-x: hidden;
    max-width: 100%;
    font-family: Pixel;
    font-size: 20px;
    margin: 0px;
    overflow-y: hidden;
}


h1{text-align: center;}
#container{
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: Pixel;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form>label{
    margin-top: 15px;
    margin-bottom: 5px;
}
form>input{
    border: 3px solid black;
    padding: 5px;
    font-family: Pixel;
}
form>input[type='color']{
    width: 60px;
    height: 60px;
    border: none;
}
form>input[type='color']:hover{
    cursor: pointer;
}
form>button[type='submit']{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
}
form>button[type='submit']:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
}
#brandlogo{
    width: 100px;
    margin-bottom: 40px;
}

#nav-links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    padding: 8px;
    text-decoration: none;
    color: #ef3e23;
}
a:hover{
    color: black;
}

#exitBtn{
    width: 25px;
    padding: 10px;
}



#details{
display: flex;
flex-direction: column;
align-items: center;    
margin-bottom: 25px;
}
#details>a{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
    text-decoration: none;
    color: black;
}
#details>a:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
    
}
#instructions{
    margin-top: 50px;
    text-align: center;
    color: rgb(142, 142, 142);
}

#saved-code-wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    width: 100%;
    
    text-align: center;
    margin-bottom: 35px;
    justify-content: space-evenly;
    overflow: hidden;
    text-align: center;
}
#home-btn{
    width: 100%;
    text-align: left;
    color: #ef3e23;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#home-btn>a{
    padding: 0px;
}
#saved-code-wrapper>img{
    margin: 10px;
    width: 75%;
}
#saved-code-wrapper>p{
    margin: 0px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    
}

.delete-btn{
    width: 100%;
    text-align: right;
    padding: 0px;
}
.delete-btn>img{
    padding: 5px;
    width: 25px;
}


#navlogo{
    width: 50px;
    padding-right: 25px;
}




#instruction-wrap{
    width: 100%;
    height: 100%;
    background-color: #f3f2ed;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

#instuctionsBtn{
    color: #ef3e23;
}

#logoutBtn{
    color: #ef3e23;
}









#logout-wrap{
    width: 100%;
    height: 100%;
    background-color: #f3f2ed;
    position: fixed;
  
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    display: none;
}

#error-header{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

#error-msg{
    text-align: center;
    margin-bottom: 25px;
}

#yes-btn, #no-btn{
    background-color: #ef3e23;
    width: 45px;
    padding: 10px;
    color: white;
    text-align: center;
}

#btn-wrap{
    display: flex;
    justify-content: space-around;
}




@font-face {
    font-family: 'Pixel';
    src: local('rounded'), url('./fonts/Pixel.TTF') format("truetype");
}