html, body {
    background-color: #f3f2ed;
    overflow-x: hidden;
    max-width: 100%;
    font-family: Pixel;
}
h1{text-align: center;}
#container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: Pixel;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form>label{
    margin-top: 15px;
    margin-bottom: 5px;
}
form>input{
    border: 3px solid black;
    padding: 5px;
    font-family: Pixel;
}
form>input[type='color']{
    width: 60px;
    height: 60px;
    border: none;
}
form>input[type='color']:hover{
    cursor: pointer;
}
form>button[type='submit']{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
}
form>button[type='submit']:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
}
#brandlogo{
    width: 100px;
    margin-bottom: 40px;
}

#nav-links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    padding: 8px;
    text-decoration: none;
    color: #ef3e23;
}
a:hover{
    color: black;
}





#details{
display: flex;
flex-direction: column;
align-items: center;    
}
#details>a{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
    text-decoration: none;
    color: black;
}
#details>a:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
    
}
#instructions{
    margin-top: 50px;
    text-align: center;
    color: rgb(142, 142, 142);
}

#saved-code-wrapper{
    background-color: #e1e0dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
    overflow: hidden;
    text-align: center;
}
#home-btn{
    width: 100%;
    text-align: left;
    color: #ef3e23;
    margin: 15px;
}
#home-btn>a{
    padding: 0px;
}
#saved-code-wrapper>img{
    margin: 10px;
}
#saved-code-wrapper>p{
    margin: 0px;
    width: 150px;
    text-align: center;
    
}
@font-face {
    font-family: 'Pixel';
    src: local('rounded'), url('./fonts/Pixel.TTF') format("truetype");
}