body {
    background-color: #f3f2ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: Pixel;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form>label{
    margin-top: 15px;
    margin-bottom: 5px;
}
form>input{
    border: 3px solid black;
    padding: 5px;
    font-family: Pixel;
}
form>input[type='color']{
    width: 60px;
    height: 60px;
    border: none;
}
form>input[type='color']:hover{
    cursor: pointer;
}
form>button[type='submit']{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
}
form>button[type='submit']:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
}
#brandlogo{
    width: 100px;
}

#nav-links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    padding: 8px;
    text-decoration: none;
    color: #ef3e23;
}
a:hover{
    color: black;
}





#details{
display: flex;
flex-direction: column;
align-items: center;    
}
#details>a{
    margin-top: 15px;
    border: 3px solid black;
    padding: 8px;
    font-family: Pixel;
    text-decoration: none;
    color: black;
}
#details>a:hover{
    background-color: #ef3e23;
    cursor: pointer;
    color: white;
    
}
#instructions{
    margin-top: 50px;
    text-align: center;
    color: rgb(142, 142, 142);
}
@font-face {
    font-family: 'Pixel';
    src: local('rounded'), url('./fonts/Pixel.TTF') format("truetype");
}