<!DOCTYPE html>

{% load static %}
<html lang="en" style="overflow-y: visible !important;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Code</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
    <script defer src="{% static 'js/controls.js' %}"></script>
</head>
<body style="overflow-y: visible !important;">
    <div id="logout-wrap">
        <div id="error-header">Hey <span style="color:#ef3e23">{{request.user}}</span></div>
        <div id="error-msg">Are you sure you want to logout?</div>
        <div id="btn-wrap">
        <a href="{% url 'qruser:logout' %}" id="yes-btn">Yes</a>
        <div id="no-btn">No</div>
    </div>
    </div>






    <div id="instruction-wrap">
        <div id="home-btn"><div id="exitBtn"><img src="{% static 'imgs/exit.svg' %}" alt="exit"></div><img id="navlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo"></div>
    <div id="container">
        <h1>Scan a QR Code</h1>
    <p style="width:100%; text-align:center">To scan your custom QR code, take out any <span style="color:#ef3e23">cell phone camera</span> and point it toward the code. The link should appear and all you need to do is tap it!</p>
    <h1>Profile</h1>
    <p style="width:100%; text-align:center">Creating a profile allows you to <span style="color:#ef3e23">save</span> your custom QR codes to your online profile page</p>
    <h1>Download QR Code</h1>
    <p style="width:100%; text-align:center">In order to download a QR code to your computer you must <span style="color:#ef3e23">right click</span> on the QR code and select "Save Image As", and find a good location to save it too</p>
<p style="text-align:center;">Check out my portfolio to see more of my work!<a href="https://www.gagelieble.com/">gagelieble.com ></a></p>

</div>
    </div>

    <div id="home-btn"><a href="{% url 'genapp:index' %}">< Home</a><img id="navlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo"></div>

    <div id="container">
    <h1>{{request.user}}</h1>


    
    {% if usercodes|length == 0 %}
        <h3 style="margin: 125px 0px 125px 0px">No codes saved</h3>

        {% else %}
        {% for codes in usercodes %}
<div id="saved-code-wrapper">
    <img src="http://api.qrserver.com/v1/create-qr-code/?data={{codes.link}}&size=100x100&color={{codes.color}}" alt=""><p>{{codes.qr_name}}</p><br><p>{{codes.link|slice:14}}..</p><p></p>
    <a class="delete-btn" href="{% url 'qruser:deleteqr' qrname=codes.qr_name %}"><img src="{% static 'imgs/trash.svg' %}" alt="trashicon"></a>
</div>
{% endfor %}
    {% endif %}
        

    <div id="instuctionsBtn">Instructions ></div>
<div id="logoutBtn">Logout ></div>

</div>
</body>
</html>