<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>{{request.user}}</h1>

{% for codes in usercodes %}
    <img src="http://api.qrserver.com/v1/create-qr-code/?data={{codes.link}}&size=100x100&color={{codes.color}}" alt=""><p>{{codes.qr_name}}</p>
{% endfor %}
    
<a href="{% url 'qruser:logout' %}">Logout</a>

<a href="{% url 'genapp:index' %}">Home</a>
</body>
</html>