<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Code</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
</head>
<body>
    <div id="home-btn"><a href="{% url 'genapp:index' %}">< Home</a><img id="navlogo" src="{% static 'imgs/QrLogo.svg' %}" alt="qrpixellogo"></div>

    <div id="container">
    <h1>Sign Up</h1>
    <form action="{% url 'qruser:signup' %}" method="POST">
       {% csrf_token %} {{form}}
       <button type="submit">Submit ></button>
    </form>

    <a href="{% url 'qruser:login' %}">Login ></a>
    </div>
</body>
</html>